kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  disableDefaultCNI: true
  podSubnet: "10.244.0.0/16"
nodes:
  - role: control-plane
    image: &image kindest/node:v1.34.0
  - role: worker
    image: *image
  - role: worker
    image: *image
