apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
      version: "39.0.0"
  interval: 5m
  values:
    logs:
      general:
        level: INFO
      access:
        enabled: true
    ingressRoute:
      dashboard:
        enabled: false
    ingressClass:
      enabled: true
      isDefaultClass: true
    ports:
      web:
        expose:
          default: true
        http:
          redirections:
            entryPoint:
              to: websecure
              scheme: https
              permanent: true
      websecure:
        expose:
          default: true
    providers:
      kubernetesCRD:
        enabled: true
        ingressClass: traefik
      kubernetesIngress:
        enabled: true
        ingressClass: traefik
      kubernetesGateway:
        enabled: true
    additionalArguments:
      - "--serverstransport.insecureskipverify"
    service:
      annotations:
        metallb.universe.tf/loadBalancerIPs: 172.18.0.200
      type: LoadBalancer
    deployment:
      enabled: true
