apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  chart:
    spec:
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: prometheus
      version: "81.2.2"
  interval: 2m
  values:
    grafana:
      enabled: true
      service:
        type: LoadBalancer
        annotations:
          metallb.universe.tf/loadBalancerIPs: 172.18.0.212
      dashboardProviders:
        dashboardproviders.yaml:
          apiVersion: 1
          providers:
            - name: "default"
              orgId: 1
              folder: ""
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/default
      dashboards:
        default:
          mysql-overview:
            gnetId: 7362
            revision: 5
            datasource: Prometheus
          mysql-quickstart:
            gnetId: 14057
            revision: 1
            datasource: Prometheus
          cert-manager:
            gnetId: 11001
            revision: 1
            datasource: Prometheus
    prometheus:
      service:
        type: LoadBalancer
        annotations:
          metallb.universe.tf/loadBalancerIPs: 172.18.0.213